body{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    background-color: khaki;
}

#test{
    background-color: lawngreen;
    
}

#card{
    width: 40px;
    height: 400px;
    /* color: lightcoral; */
    margin: 10px;
    align-items: space-between;
   
}

